@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.background span {
    width: 15vmin;
    height: 15vmin;
    border-radius: 15vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    color: #ffa24a;
}


.background span:nth-child(0) {
    top: 55%;
    left: 85%;
    animation-duration: 31s;
    animation-delay: -43s;
    transform-origin: 21vw -20vh;
    box-shadow: 30vmin 0 3.900745610088305vmin currentColor;
}
.background span:nth-child(1) {
    top: 6%;
    left: 48%;
    animation-duration: 41s;
    animation-delay: -32s;
    transform-origin: -22vw 11vh;
    box-shadow: 30vmin 0 4.149011000206525vmin currentColor;
}
.background span:nth-child(2) {
    top: 51%;
    left: 19%;
    animation-duration: 42s;
    animation-delay: -44s;
    transform-origin: -11vw 22vh;
    box-shadow: 30vmin 0 4.608037048619252vmin currentColor;
}
.background span:nth-child(3) {
    top: 63%;
    left: 35%;
    animation-duration: 8s;
    animation-delay: -12s;
    transform-origin: 12vw 13vh;
    box-shadow: -30vmin 0 4.354799495196532vmin currentColor;
}
.background span:nth-child(4) {
    top: 79%;
    left: 66%;
    animation-duration: 16s;
    animation-delay: -35s;
    transform-origin: -23vw -17vh;
    box-shadow: -30vmin 0 4.246679587531341vmin currentColor;
}
.background span:nth-child(5) {
    top: 40%;
    left: 13%;
    animation-duration: 33s;
    animation-delay: -22s;
    transform-origin: 1vw -7vh;
    box-shadow: 30vmin 0 4.024861528782416vmin currentColor;
}
.background span:nth-child(6) {
    top: 78%;
    left: 34%;
    animation-duration: 54s;
    animation-delay: -45s;
    transform-origin: -20vw 18vh;
    box-shadow: -30vmin 0 4.374702849249616vmin currentColor;
}
.background span:nth-child(7) {
    top: 10%;
    left: 7%;
    animation-duration: 19s;
    animation-delay: -50s;
    transform-origin: -12vw 12vh;
    box-shadow: 30vmin 0 4.3260498532967695vmin currentColor;
}
.background span:nth-child(8) {
    top: 96%;
    left: 10%;
    animation-duration: 35s;
    animation-delay: -47s;
    transform-origin: -19vw -11vh;
    box-shadow: 30vmin 0 4.22094310851709vmin currentColor;
}
.background span:nth-child(9) {
    top: 1%;
    left: 18%;
    animation-duration: 27s;
    animation-delay: -15s;
    transform-origin: 1vw -21vh;
    box-shadow: -30vmin 0 4.2688218457168166vmin currentColor;
}
.background span:nth-child(10) {
    top: 15%;
    left: 24%;
    animation-duration: 32s;
    animation-delay: -19s;
    transform-origin: 4vw -10vh;
    box-shadow: -30vmin 0 4.545996318622366vmin currentColor;
}
.background span:nth-child(11) {
    top: 65%;
    left: 12%;
    animation-duration: 11s;
    animation-delay: -13s;
    transform-origin: 5vw 25vh;
    box-shadow: -30vmin 0 4.380070306227517vmin currentColor;
}

.fit-svg svg{
    width: 100%;
    height: 100%;
}